body{
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    color: #40514e;

}
.profile{
        margin-bottom: 30px;
}

.first{
    background-color: #eaf6f6;
    position: relative;
    padding: 6.25rem;

}
.intro{
    width: 30%;
    margin: auto;
}
.skills{
    margin-top: 30px;
}
.bot{
    width: 40%;
    margin: auto;
}
.mount{
    width: 100%;
    height: 100%;
}
p{
    line-height: 2;
}

h1{
    color: #66bfbf;
    margin: 0 auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
}
h2{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}

.cloud1{
   width: 12.5rem ;
   height: 4.375rem;
   position: absolute;
   right: 18.75rem;
   top: 3.125rem;

}
.cloud2{
   width: 12.5rem ;
   height: 4.375rem;
    position: absolute;
    left: 18.75rem;
    top: 10.625rem;
}

.pic{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.pic1{
        height: 15%;
    width: 15%;
    margin-top: 50px;
}
.pic2{
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
hr{
    color: #eaf6f6;
    width: 5%;
    border-style: none none dotted;
    border-width: 10px;
}
.button-53 {
background-color: #3DD1E7;

border: 0 solid #E5E7EB;

box-sizing: border-box;

color: #000000;

font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

font-size: 1rem;

font-weight: 700;

justify-content: center;

line-height: 1.75rem;

position: relative;

text-align: center;

text-decoration: none #000000 solid;

text-decoration-thickness: auto;

width: 100%;

max-width: 460px;

position: relative;

cursor: pointer;

transform: rotate(-2deg);

user-select: none;

-webkit-user-select: none;

touch-action: manipulation;

}


.button-53:focus {

outline: 0;

}


.button-53:after {

    content: '';
    
    position: absolute;

    border: 1px solid #000000;

bottom: 4px;

left: 4px;

width: calc(100% - 1px);

height: calc(100% - 1px);

}


.button-53:hover:after {

bottom: 2px;

left: 2px;

}


@media (min-width: 768px) {

.button-53 {

padding: .75rem 3rem;

font-size: 1.25rem;

}
}
.bottom-container{
    margin-top: 70px;
    background-color: #11999e;
    padding-top: 50px;
    padding-bottom: 35px;
    color: #eaf6f6;
    padding-right: 20px;
}
.bot{
    padding-bottom: 30px;
}
.footer-link{
    margin-right: 20px;
    text-decoration: none;
    color: #084f52;
    font-family: "Montserrat", sans-serif;
}
.footer-link:hover{
    color: #eaf6f6;
}
.copy{
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    color: #40514e;
}